@import './font.css';
@import './reset.css';

:root {
    /* Colors */
	--main-bg-dark: #121214;
    --nav-dark: #E5E7EB;
    --high-contrast-dark: #D2D6DC;
    --medium-contrast-dark: #7F828A;
    --low-contrast-dark: #494B52;
    --switcher-bg-dark: var(--main-bg-dark);
    --switcher-header-bg-dark: #222226;
    --switcher-header-dark: #9FA6B2;
    --switcher-divider-dark: #2B2B30;
    --modal-overlay-dark: rgba(0, 0, 0, 0.8);
    --footer-bg-dark: var(--switcher-header-bg-dark);
    --main-bg-light: #FAFAFA;
    --nav-light: #282829;
    --high-contrast-light: #353638;
    --medium-contrast-light: #57595C;
    --low-contrast-light: #ACB2C2;
    --switcher-bg-light: var(--main-bg-light);
    --switcher-header-bg-light: #F2F4F7;
    --switcher-header-light: #4F5259;
    --switcher-divider-light: #DFDFEB;
    --modal-overlay-light: rgba(0, 0, 0, 0.3);
    --footer-bg-light: var(--switcher-header-bg-light);
    --hover-general: rgba(159, 166, 178, 0.1);

    /* Elevation */
    --elevation-low-dark: 0px 4px 30px 2px rgba(27,27,28,.3);

    --elevation-high-dark:  0 0 3px 0 rgba(27, 27, 28, 0.06),
                            0 0 7px 0 rgba(27, 27, 28, 0.08),
                            0 0 13px 0 rgba(27, 27, 28, 0.11),
                            0 0 23px 0 rgba(27, 27, 28, 0.13),
                            0 0 44px 0 rgba(27, 27, 28, 0.15),
                            0 -2px 105px 0 rgba(27, 27, 28, 0.21);

    --elevation-low-light: 0px 4px 30px 2px rgba(221, 221, 229, 1);

    --elevation-high-light: 0 0 3px 0 rgba(221, 221, 229, 0.06),
                            0 0 7px 0 rgba(221, 221, 229, 0.08),
                            0 0 13px 0 rgba(221, 221, 229, 0.11),
                            0 0 23px 0 rgba(221, 221, 229, 0.13),
                            0 0 44px 0 rgba(221, 221, 229, 0.15),
                            0 -2px 105px 0px rgba(221, 221, 229, 0.21);

    /* Typography */
    --font-family-sans: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
    --font-family-mono: "SF Mono", monospace;
    /* --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600; */
    --leading-header: 1.5;
    --leading-body: 1.7;
    --leading-small: 1.25;
    --tracking-header: -0.08px;
    --tracking-body: -0.16px;
    --tracking-small: -0.12px;

    /* Transition */
    --transition-default: 100ms ease-in-out;
    --transition-slow: 200ms ease-in-out;
    --transition-scale: 200ms cubic-bezier(0.65, 0, 0.35, 1);

    /* Layout */
    --body-content: 770px;
    --inner-content: 738px;
    --radius-icon: 10px;
    --radius-button: 7px;

    /* Spacing */
    --gap-tiny: 4px;
    --gap-small: 8px;
    --gap-medium: 12px;
    --gap: 16px;
    --gap-large: 24px;
    --gap-xlarge: 36px;
    --gap-xxlarge: 48px;
    --gap-big: 56px;
    --gap-bigger: 64px;
    --gap-biggest: 80px;
    --spacer: 128px;
}

body {
    /* Set defaults */
    --main-bg: var(--main-bg-dark);
    --nav: var(--nav-dark);
    --high-contrast: var(--high-contrast-dark);
    --medium-contrast: var(--medium-contrast-dark);
    --low-contrast: var(--low-contrast-dark);
    --switcher-bg: var(--switcher-bg-dark);
    --switcher-header-bg: var(--switcher-header-bg-dark);
    --switcher-header: var(--switcher-header-dark);
    --switcher-divider: var(--switcher-divider-dark);
    --modal-overlay: var(--modal-overlay-dark);
    --elevation-high: var(--elevation-high-dark);
    --elevation-low: var(--elevation-low-dark);
    --footer-bg: var(--footer-bg-dark);
    /* ------------ */
    font-family: var(--font-family-sans);
    background-color: var(--main-bg);
    color: var(--high-contrast);
}

[data-theme='light'] {
    --main-bg: var(--main-bg-light);
    --nav: var(--nav-light);
    --high-contrast: var(--high-contrast-light);
    --medium-contrast: var(--medium-contrast-light);
    --low-contrast: var(--low-contrast-light);
    --switcher-bg: var(--switcher-bg-light);
    --switcher-header-bg: var(--switcher-header-bg-light);
    --switcher-header: var(--switcher-header-light);
    --switcher-divider: var(--switcher-divider-light);
    --modal-overlay: var(--modal-overlay-light);
    --elevation-high: var(--elevation-high-light);
    --elevation-low: var(--elevation-low-light);
    --footer-bg: var(--footer-bg-light);
}

a {
    position: relative;
    display: inline-block;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: var(--leading-body);
    letter-spacing: var(--tracking-body);
    color: var(--high-contrast);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 7px;
    outline: none;
}

a:hover {
    color: var(--medium-contrast);
}

a:focus {
    text-decoration: none;
}

a::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 5px);
    border-radius: var(--radius-button);
    border: 1px solid var(--high-contrast);
    transition: opacity var(--transition-default);
    opacity: 0;
}

a:focus::after {
    opacity: 1;
}

/* For Firefox and Chromium-based browsers (._. Safari ._.) */
@supports selector(*:focus-visible) {
    a:focus {
        text-decoration: underline;
    }

    a:focus::after {
        opacity: 0;
    }

    a:focus-visible {
        text-decoration: none;
    }

    a:focus-visible::after {
        opacity: 1;
    }

    button.icon:focus::after {
        opacity: 0 !important;
    }

    button.icon:focus-visible::after {
        opacity: 1 !important;
    }

    button.icon:focus::after {
        opacity: 0 !important;
    }

    button.icon:focus-visible::after {
        opacity: 1 !important;
    }
}

p + p {
    margin-top: var(--gap-large);
}

/* Type Specs */
.t-header {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: var(--leading-header);
    letter-spacing: var(--tracking-header);
}

.t-body {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: var(--leading-body);
    letter-spacing: var(--tracking-body);
}

.t-body-sm {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: var(--leading-small);
    letter-spacing: var(--tracking-small);
}

kbd {
    font-family: var(--font-family-mono);
    font-size: 1.4rem;
    line-height: var(--leading-small);
    letter-spacing: var(--tracking-small);
}

/* @media screen and (max-width: 600px) {
    .t-header {
        font-size: 2.6rem;
    }

    a {
        font-size: 1.8rem;
    }

    .t-body {
        font-size: 1.8rem;
    }

    .t-body-bold {
        font-size: 1.8rem;
    }

    .t-body-md {
        font-size: 1.6rem;
    }

    .t-body-sm {
        font-size: 1.5rem;
    }

    .t-body-tiny {
        font-size: 1.3rem;
    }

    kbd {
        font-size: 1.3rem;
    }
} */

.visually-hidden {
	padding: 0;
	width: 1px;
	height: 1px;
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(0px 0px 99.9% 99.9%);
	overflow: hidden;
	border: 0;
}

/* Page transitions */
.page-enter-active, .page-leave-active {
    transition: opacity var(--transition-default);
}
.page-enter, .page-leave-active {
    opacity: 0
}

